:root {
  --color-background: #fffef2;
  --color-dark: #333333;
  --color-accent: #rgb(166, 103, 43);
}

.ir {
  margin: 0;
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip-path: polygon(0 0, 0 0, 0 0); // 크롬, 파이어폭스, 오페라
  clip: rect(0 0 0 0); // IE 6, 7
  clip: rect(0, 0, 0, 0); // 그 이후 IE
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  min-height: 100vh;
  font-family: 'Roboto', sans-serif;
  background-color: var(--color-background);
}

.nav-flexbox {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: var(--color-dark);
  color: #fff;
  align-items: center;
}

.nav-ul-flexbox {
  display: flex;
}

.nav-ul-flexbox li {
  margin-right: 1rem;
}

/* main contents */

.wrapper {
  /* width: 800px; */
  padding: 20px;
}

.input {
  padding: 5px;
  margin-bottom: 20px;
}

.card-gridbox {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.card {
  width: 180px;
}

.card img {
  width: 100%;
}
